.breadcrumbs-nav {
  font-size: 13px;
  padding: 12px 20px;
  background: #dedede;
  width: 100%;
}

.breadcrumb-link {
  color: #222;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-divider {
  margin: 0 10px;
  color: #aaa;
}

.breadcrumb-current {
  color: #292929;
}
