/* ОГРАНИЧЕНИЕ ширины самого фильтра и выбранного value */
.filter-bar {
  max-width: 100vw;          /* не вылезает за экран */
  gap: 12px;                 /* чуть больше отступы */
}
.react-select__value-container {
  max-width: 170px;          /* ограничить ширину текста value */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-select__control {
  min-width: 130px;
  max-width: 170px;
  width: 170px;
}

.react-select__single-value {
  max-width: 120px; /* чтобы текст обрезался */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
